<div class="container">
  <h1>Prueba técnica - Estudio Faser</h1>
  <h2>Listado de tareas</h2>

  <!-- Requerimiento 2: Formulario para agregar nueva tarea -->
  <h3>Agregar nueva tarea</h3>
  <button (click)="eliminarTareasSeleccionadas()">Eliminar tareas seleccionadas</button>
  <button (click)="marcarComoDestacadas()">Marcar como destacadas</button>



  <form (ngSubmit)="agregarTarea()">
      <label for="titulo">Título:</label>
      <input type="text" [(ngModel)]="nuevaTarea.titulo" name="titulo" required>

      <label for="minutos">Duración (minutos):</label>
      <input type="number" [(ngModel)]="nuevaTarea.minutos" name="minutos" required>

      <button type="submit">Agregar</button>
  </form>
  <!-- Fin Requerimiento 2 -->

  <!-- Requerimiento 1: Tabla HTML para mostrar tareas -->
  <table border="1">
    <thead>
        <tr>
            <th>Seleccionar</th>
            <th (click)="ordenarPor('id')">ID</th>
            <th (click)="ordenarPor('titulo')">Título</th>
            <th (click)="ordenarPor('minutos')">Duración (minutos)</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarea of tareas" [ngClass]="{'destacada': tarea.destacada}">

            <td><input type="checkbox" [(ngModel)]="tarea.seleccionada"></td>
            <td>{{ tarea.id }}</td>
            <td>{{ tarea.titulo }}</td>
            <td>{{ tarea.minutos }}</td>
        </tr>
    </tbody>
</table>

  <!-- Fin Requerimiento 1 -->
</div>
